body {
    background: #efe;
    text-align: center;
    .main {
		display: flex;
		justify-content: center;
		align-items: center;
		div {
			flex: 1;
			height: 200px;
			margin: 10px;
			border: 1px solid #cf0;
        }
    }
}
